@define-color primary rgb(140, 140, 140);
@define-color secondary rgba(100, 100, 100, 1);
@define-color text_default rgba(224, 224, 224, 1);
@define-color background_default rgba(26, 26, 26, 1);
@define-color background_alt rgba(4, 4, 4, 1);
@define-color background_default_alt rgba(46, 49, 51, 1);

@define-color audio_muted rgba(255, 0, 0, 1);


/* General */

* {
    font-family: "JetBrainsMono Nerd Font", monospace, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

*:hover {
    background: unset;
    color: red;
}


window#waybar {
    font-family: inherit;
    background: unset;
}

window#waybar:hover {
    color: blue;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

/* Apply to all modules */
.module,
#hardware {
    background-color: @background_default;
    padding: 4px 3px;
    margin: 0 3px;
    border-radius: 4px;
}

/* Workspace */
#workspaces button {
    background-color: @background_default_alt ;
    border-radius: 4px;
    padding: 0 3px;
    margin: 0 3px;
    color: @primary;
}

#workspaces button.active {
    color: @text_default;
}

/* Window */
#window {
    background-color: @background_default;
    padding: 0 6px;
    margin: 0 3px;
    color: @primary;
}

#mpris,
#clock,
#custom-notification,
#custom-gpu,
#cpu,
#bluetooth,
#battery,
#memory,
#network
{
    color: @primary;
    padding: 0 6px;
    margin: 0 3px;
}

#pulseaudio {
    padding: 0 6px;
    margin: 0 3px;
    color: @primary;
}

/* system */
#custom-system {
    font-size: 18px;
    color: @primary;
    padding: 0 12px 0 8px;
}


#custom-hardware {
    color: @primary;
    padding: 0 6px 0 4px;
}