* {
    font-family: "JetBrainsMono Nerd Font", monospace, sans-serif;
    font-weight: normal;
    font-size: 14px;
}

window#waybar {
    color: #e0e0e0;
    background-color: transparent;
}

tooltip {
    background: #1a1a1a;
    border-radius: 10px;
    border: 1px solid #f50a1c;
    font-size: 13px;
    padding: 4px 10px;
}

tooltip label {
    color: #e0e0e0;
}

#workspaces {
    padding: 0 2px;
}

/* Left workspace buttons */
#workspaces button {
    min-width: 20px;
    border-radius: 14px;
    margin: 4px 0;
    /*color: #00ffe7;*/
    color: #e0e0e0;
    padding: 2px 4px;
}

#workspaces button:not(:last-child) {
    margin-right: 2px;
}

#workspaces button:hover {
    /*background: rgba(0, 255, 231, 0.15);*/
    color: #46ebeb;
    background: none;
    border: none;
}

#workspaces button.active,
#workspaces button.active:hover {
    color: #f50a1c;
}

#clock,
#battery,
#pulseaudio,
#pulseaudio.microphone,
#network,
#bluetooth,
#temperature,
#workspaces,
#backlight,
#tray,
#custom-logo,
#custom-temperature {
    padding: 0 8px;
    margin: 2px 5px;
    background-color: rgba(4, 4, 4, 0.85);
    border-radius: 10px;
    box-shadow: 0 0 12px 2px rgba(245, 10, 28, 0.25);
}

/*#pulseaudio.microphone {*/
/*    color: #00ffe7;*/
/*}*/

/*#pulseaudio.microphone.muted {*/
/*    color: #f50a1c;*/
/*}*/



#network {
    /*border-radius: 18px 0 0 18px;*/
 /*    padding: 0 14px; */
    /* Center the icon using primitive CSS */

}

#network.ethernet {
 /*    padding: 0 14px; */
    /* Center the icon using primitive CSS */
}

#network.wifi {

 /*    padding: 0 14px; */
    /* Center the icon using primitive CSS */
}

#network.linked {
 /*    padding: 0 14px; */
    /* Center the icon using primitive CSS */
}

#network.disconnected {
 /*    padding: 0 14px; */
    /* Center the icon using primitive CSS */
}
